// Core SCSS File

//IMPORTED PARTIALS
@import 'components/reset';
@import 'components/fontfaces';
@import 'components/navBar';
//MASTER CONTROLS

body{
  height: 100vh;
  width: 100vw;
  font-size: 100%;
  font-family: 'Avenir Next', sans-serif;
  font-weight: 300;
  background-color: #FFF;
}
