// Core SCSS File

//IMPORTED PARTIALS
@import 'components/reset';

//MASTER CONTROLS

body{
  height: 100vh;
  width: 100vw;
  font-size: 100%;
  font-family: sans-serif;
  background-color: #FFF;
}
